body {
    max-width: 40em;
    margin: 0 auto;
    font-family: "Courier New", monospace;
    font-size: 1em;
}

ul {
	list-style-type: none;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: #AE87FE;
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;
}
 
li a:hover {
  	color: white;
  	background-color: #AE87FE;
}
