body {
	max-width: 45em;
	margin: auto;
	font-family: 'Courier New', monospace;
	background-color: #262626;
	color: white	;
}

.line {
	border: dashed 0.1em white;
}

.content {
	margin-top: 2em;	
	margin-bottom: 2em;	
}

p {
	padding-left: 3em;
}

a {
	color: #AE87FE;
}
